@import '@/assets/fonts/fonts.scss';
@import '@/assets/media-query.scss';

$primary: #0382F5;
$white: rgba(255, 255, 255, .96);
$dark: #2E3A59;
$dark03: #8F9BB3;
$dark04: #BEC6D6;

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

